{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>内容</title>
        <link rel="stylesheet" type="text/css" href="{% static 'board/css/style.css' %}" />
    </head>
    <boay>
            <h1>{{message}}</h1>
        <table>
            <tr><th>カテゴリー</th><td>{{obj.category}}</td></tr>
            <tr><th>タイトル</th><td>{{obj.title}}</td></tr>
            <tr><th>本文</th><td>{{obj.main_text}}</td></tr>
            <tr><th>購読者</th><td>{{obj.user}}</td></tr>
            <tr><th>いいね</th><td>{{obj.good_cnt}}</td></tr>
            <tr><th>購読数</th><td>{{obj.read_cnt}}</td></tr>
        </table>
        <table>
            <form action="{% url 'update' obj.id %}" method="go">
                {% csrf_token %}
                <tr>
                    <td><input type="submit" value="変更"></td>
                </tr>>
            </form>
            <form action="{% url 'delete' obj.id %}" method="go">
                {% csrf_token %}
                <tr>
                    <td><input type="submit" value="削除"></td>
                </tr>>
            </form>
        </table>    
    </boay>
</html>